@using Microsoft.AspNet.Identity
@model BT.Web.Models.AccountModel

@{
    ViewBag.Title = "Личный кабинет пользователя " + User.Identity.GetUserName();
    ViewBag.Favicon = "/Content/icons/cabinet/favicon.ico";
}

<div class="container row">
    <div class="col-md-6">
        <h4 class="text-info">Информация об аккаунте:</h4>
        <div class="form-group row">
            @Html.LabelFor(m => m.NickName, "Никнейм:", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-3 col-form-label">
                @Html.DisplayTextFor(m => m.NickName)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.FirstName, "Имя:", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-3 col-form-label">
                @Html.DisplayTextFor(m => m.FirstName)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.LastName, "Фамилия:", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-3 col-form-label">
                @Html.DisplayTextFor(m => m.LastName)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Email, "Email:", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-3 col-form-label">
                @Html.DisplayTextFor(m => m.Email)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Amount, "Количество валюты:", new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-2 col-form-label">
                @Html.DisplayTextFor(m => m.Amount)
            </div>
        </div>
        <div class="form-group row col-md-auto">
            @Html.ActionLink("Изменить", "EditAccount", new { id = @User.Identity.GetUserId() }, new { @class = "btn btn-outline-warning mr-sm-2" })
            @Html.RouteLink("Назад", "MainPage", null, new { @class = "btn btn-outline-secondary" })
        </div>
    </div>
</div>
