@model BT.Web.Models.AccountModel

@{
    ViewBag.Title = "EditAccount";
}

<div class="container">
    @using (Html.BeginForm("EditAccount", "Account", FormMethod.Post, new { @class = "form-group" }))
    {
        <div class="form-group row">
            @Html.LabelFor(m => m.NickName, "Никнейм", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.FirstName, "Имя", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.LastName, "Фамилия", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Email, "Email", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Amount, "Количество валюты", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-outline-warning col-sm-2 col-md-2" value="Изменить" />
            @Html.RouteLink("Отмена", "Cabinet", new { name = Model.NickName }, new { @class = "btn btn-outline-secondary col-sm-2 col-md-2" })
        </div>
    }
</div>

