@model BT.Web.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<div class="container">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(m => m.NickName, "Никнейм", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Password, "Пароль", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-outline-success" value="Войти" />
            @Html.RouteLink("Отмена", "MainPage", null, new { @class = "btn btn-outline-secondary" })
        </div>
    }
</div>

