@model BT.Dom.Entities.Tour

@{
    ViewBag.Title = "Добавить тур";
    ViewBag.Favicon = "/Content/icons/add/favicon.ico";
}
<div class="container" align="center">
    <div class="col-md-5">
        <h4 class="text-center text-success" style="padding-top: 10%">Добавление тура</h4>
        @using (Html.BeginForm("AddTour", "Tour", FormMethod.Post, new { @class = "form-group", @novalidate = true }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group row">
                @Html.TextBoxFor(model => model.Name, new
                {
                    @class = "form-control",
                    @placeholder = Html.DisplayNameFor(model => model.Name),
                })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group row">
                @Html.TextBoxFor(model => model.Destination, new
                {
                    @class = "form-control",
                    @placeholder = Html.DisplayNameFor(model => model.Destination),
                })
                @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
            </div>
            <div class="form-group row">
                @Html.TextBoxFor(model => model.DayCount, new
                {
                    @class = "form-control",
                    @placeholder = Html.DisplayNameFor(model => model.DayCount),
                })
                @Html.ValidationMessageFor(model => model.DayCount, "", new { @class = "text-danger" })
            </div>
            <div class="form-group row">
                @Html.DropDownListFor(m => m.HotelId, @ViewBag.Hotels as SelectList, "Выберите гостиницу", new
                {
                    @class = "form-control",
                })
                @Html.ValidationMessageFor(model => model.HotelId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group row">
                @Html.TextBoxFor(model => model.Price, new
                {
                    @class = "form-control",
                    @placeholder = Html.DisplayNameFor(model => model.Price),
                })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
            <div class="form-group row">
                @Html.TextBoxFor(model => model.Date, new
                {
                    @class = "form-control",
                    @placeholder = Html.DisplayNameFor(model => model.Date)
                })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
            <div class="form-group row">
                @Html.TextAreaFor(model => model.Description, new
                {
                    @class = "form-control",
                    @placeholder = Html.DisplayNameFor(model => model.Description),
                })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
            <div class="container">
                <input type="submit" class="btn btn-outline-success" value="Добавить" />
                <a href="~/Home/Index" class="btn btn-outline-secondary">Отмена</a>
            </div>
        }
    </div>
</div>
